<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }} &mdash; {{ site.subtitle }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ page.title }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Jeyser CRM"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:site_name" content="Jeyser CRM"/>
    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml" title="{{ site.title }} activity feed" />

    <link rel="shortcut icon" href="/favicon.ico">
    <link
        href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext'
        rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" rel="stylesheet">

    <!-- Worthy core CSS file -->
    <link href="{{site.url}}/css/style-index.css" rel="stylesheet">
</head>

<body class="no-trans scroll-spy fixed-header-on">
<!-- scrollToTop -->
<!-- ================ -->
<div class="scrollToTop"><i class="icon-up-open-big"></i></div>

<!-- header start -->
<!-- ================ -->
<header class="header fixed clearfix navbar navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-md-4">

                <!-- header-left start -->
                <!-- ================ -->
                <div class="header-left clearfix">

                    <!-- logo 
                    <div class="logo smooth-scroll">
                    </div>
					-->

                    <!-- name-and-slogan -->
                    <div class="site-name-and-slogan smooth-scroll">
                    <div class="site-name"><a href="{{ site.url }}/">{{ site.title }}</a></div>
                        <div class="site-slogan">Open source ERP / CRM for Junior Entreprises</div>
                    </div>
  </div>
                <!-- header-left end -->

            </div>
            <div class="col-md-8">

                <!-- header-right start -->
                <!-- ================ -->
                <div class="header-right clearfix">

                    <!-- main-navigation start -->
                    <!-- ================ -->
                    <div class="main-navigation animated">

                        <!-- navbar start -->
                        <!-- ================ -->
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="container-fluid">

                                <!-- Toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                                            data-target="#navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a href="https://jeyser-demo.herokuapp.com">Test our demo</a></li>
                                        <li><a href="https://github.com/n7consulting/Incipio">Source</a></li>
                                        <li><a href="/install/">Install</a></li>
                                    </ul>
                                </div>

                            </div>
                        </nav>
                        <!-- navbar end -->

                    </div>
                    <!-- main-navigation end -->

                </div>
                <!-- header-right end -->

            </div>
        </div>
    </div>
</header>
<!-- header end -->
<!-- section start -->
<div class="section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <div class="row">
    <div class="col-lg-2 col-md-3 col-xs-4">
        <ul class="list-unstyled">
            <li><a href="{{ site.url }}">Home</a></li>
            <li><a href="/fr/">French Documentation</a></li>
            <li><a href="/dev/">Developer Guide</a></li>
        </ul>
    </div>
    <div class="col-lg-10 col-md-9 col-xs-8">
        {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
    </div>
</div>



</div>      

</div>
</div>
</div>
</div>
<div class="subfooter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">Jeyser CRM &copy; AB {{ "now"|date("Y") }}.</p>
                <p class="text-center">
                    <small>
                    </small>
                </p>
                <!-- <small>Worthy by <a target="_blank" href="http://htmlcoder.me">HtmlCoder</a></small> -->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% block scripts %}
        {% endblock %}

        {% if site.google_analytics_tracking_id %}

        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '{{site.google_analytics_tracking_id}}', 'auto');
            ga('send', 'pageview');
        </script>
        {% endif %}
        <script src="{{ site.url }}/components/highlightjs/highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>

        {% block scripts_after %}
        {% endblock %}

</body>
</html>      
