$white: #fff;
$black: #1d1e1c;
$blackblue: #253032;
$clearyellow: #FBE4BE;
$lightyellow: #F6B752;
$yellow: #f39c12;
$darkyellow: #B1720E;

$grey: #babdb5;
$lightgrey: #f4f4f4;

$primaryColor: $yellow;
