---
layout: default
title: Jeyser CRM
---
{% block content %}
<h1>Jeyser CRM</h1>

<p>Jeyser CRM in an open-source ERP / CRM for all Juniors-Entreprises. It is free and available for everyone. </p>
<p>It is maintained by <a href="https://n7consulting.fr/">N7 Consulting</a>, <a href="http://www.enseeiht.fr/en/index.html">Enseeiht</a>'s Junior-Entreprises.</p>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active index-carousel-item">
      <img src="/images/uploads/accueil.png" alt="Open source, Free ERP / CRM for Junior-entreprise" />
      <div class="index-carousel-caption carousel-caption">
        Open-source ERP / CRM for Junior-Entreprise
      </div>
    </div>
    <div class="item index-carousel-item">
      <img src="/images/uploads/competences.png" alt="Manage HR & skills" />
      <div class="carousel-caption index-carousel-caption">
        Manage HR and skills
      </div>
    </div>
    <div class="item index-carousel-item">
      <img src="/images/uploads/fiche_membre.png" alt="Manage your members" />
      <div class="carousel-caption index-carousel-caption">
        Manage your organisation members
      </div>
    </div>
    <div class="item index-carousel-item">
      <img src="/images/uploads/suivi_etudes.png" alt="Manage your business" />
      <div class="carousel-caption index-carousel-caption">
        Sales pipeline, business, CRM
      </div>
    </div>
    <div class="item index-carousel-item">
      <img src="/images/uploads/doctype.png" alt="Manage your documents and templates" />
      <div class="carousel-caption index-carousel-caption">
        Template your documents and edit them from Jeyser
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="row">
    <div class="col-md-6 col-xs-12">
        <h2><a href="/install">Install now !</a></h2>
    </div>
    <div class="col-md-6 col-xs-12">
        <h2><a href="https://jeyser-demo.herokuapp.com">Test the demo !</a></h2>
    </div>
    <div class="col-md-6 col-xs-12">
        <h2><a href="https://github.com/n7consulting/Incipio">Get the code !</a></h2>
    </div>
    <div class="col-md-6 col-xs-12">
        <h2><a href="/fr/">Read the doc !</a></h2>
    </div>
</div>


<h3>More</h3>
<p>This a project lead by N7 Consulting for all the Junior-Entreprise. We think that Jeyser is more suited for Junior-Enterprise than all commercial softwares. We are pleased to introduce Jeyser to you and would be very glad to welcome you in the Jeyser Community.</p>
 
{% endblock %}
{% block scripts_after %}
<script>

$('.carousel').carousel()

</script>
{% endblock %}